<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everypay.sdk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application >
        <activity android:name=".views.CardFormActivity"/>
        <activity android:name=".PaymentBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
